@model VShuttle.Model.UserInfo
@{
    Layout = null;
}

@using (Html.BeginForm("Index","Home", FormMethod.Post))
{
    <div class="main-form">

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.INumber)
        @Html.HiddenFor(m => m.Name)
        @Html.HiddenFor(m => m.Date)
        @Html.HiddenFor(m => m.Latitude)
        @Html.HiddenFor(m => m.Longitude)
        @Html.HiddenFor(m => m.SubLocation)
        

        <div class="col-md-12">
            @Html.DropDownListFor(m => m.RouteId, new SelectList(ViewBag.route, "Id", "RouteLocations"), "Select Location")           
        </div>

        @*<div class="col-md-12">
            @Html.TextBoxFor(m => m.SubLocation, new { placeholder = "Enter Sub-Location" })
        </div>*@


        <div class="col-md-12" style="margin-bottom:10px;">
            <button class="btn btn-success" id="updatelocation-btn" type="button" data-toggle="modal" data-target="#mapModel" >Pick Location</button>
        </div>
       

        <div class="col-md-6">
            <button class="btn btn-primary" type="submit">Update </button>
        </div>

        <div class="col-md-6">
            <button class="btn btn-danger" onclick="closeDialog(this)" type="button">Cancel</button>
        </div>

    </div>
}
<script>
    $(function () {
        $("#Date").datepicker({ dateFormat: 'yy-mm-dd' });
       // $("#Date").datetimepicker();
        $("#Location").val(@Model.RouteId);

        $("#updatelocation-btn").on("click", function () {
            debugger;
            initialize("map-canvas");
        })

    });

</script>

