@model VShuttle.Model.UserInfo
@{
    Layout = null;
}

@using (Html.BeginForm("Index","Home", FormMethod.Post))
{
    <div class="main-form">

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.INumber)
        @Html.HiddenFor(m => m.Name)
        @Html.HiddenFor(m => m.Date)
        @Html.HiddenFor(m => m.Latitude)
        @Html.HiddenFor(m => m.Longitude)
        @Html.HiddenFor(m => m.SubLocation)
        
        
        @*<label id="updatelocation-error" class="error-msg col-md-12">*please select location in map</label>*@
        
        <div class="col-md-12">
            @Html.DropDownListFor(m => m.RouteId, new SelectList(ViewBag.route, "Id", "RouteLocations"), "Select Location")           
        </div>

        @*<div class="col-md-12">
            @Html.TextBoxFor(m => m.SubLocation, new { placeholder = "Enter Sub-Location" })
        </div>*@

        <div class="col-md-12" style="margin-bottom:15px;">
            <button class="btn updatelocation-btn" id="updatelocation-btn" type="button" data-toggle="modal" data-target="#mapModel" >Pick Location <i class="glyphicon glyphicon-map-marker map-icon-color"></i></button>
        </div>
       
       

        <div class="col-md-6">
            <button id="updatelocation" class="btn btn-primary" type="submit">Update </button>
        </div>

        <div class="col-md-6">
            <button class="btn btn-danger" onclick="closeDialog(this)" type="button">Cancel</button>
        </div>

    </div>
}
<script>
    $(function () {
        $("#Date").datepicker({ dateFormat: 'yy-mm-dd' });
       // $("#Date").datetimepicker();
        $("#Location").val(@Model.RouteId);

        //$("#updatelocation").on("click", function () {        
        //    if($("#SubLocation").val() ==""){
        //        return false;
        //    };
        //})

        $("#updatelocation-btn").on("click", function () {
            debugger;
            $(".picklocationcontainer").find("input").remove();
            var searchBox = '<input id="pac-input" class="controls" type="text" placeholder="Search location">';
            if ($("#pac-input").length < 1) {
                $("#mapModel").append(searchBox);
            }        
            initialize("map-canvas");
        })
        
        //reinitialize map to picklocation, so that the marker is applicable on picklocation
        $("#closemodal").on("click", function () {           
            initialize("picklocation");
        })

    });

</script>

