@model VShuttle.Model.ViewModel.RouteUserinfo
@{
    ViewBag.Title = "Home Page";
}

@if (Session["Id"] !=null)
{

<div id="registerUser" class="row-fluid">

      <div class="col-md-12 route-info">
        Register Location
      </div> 

       @using (Html.BeginForm("Index", "Home", FormMethod.Post))
       {

        <input type="hidden" id="latnag" />

        <span class="form-element row">
            <div class="col-md-12 checkbox-row" required>

                @*<div class="checkbox checkbox-success checkbox-inline">
                    <input type="checkbox" name="all" id="all" value="5">
                    <label for="all"> All </label>
                </div>*@

                <div class="checkbox checkbox-success checkbox-inline">
                    <input type="checkbox" name="mon" id="mon" value="0">
                    <label for="mon"> Monday </label>
                </div>
                <div class="checkbox checkbox-success checkbox-inline">
                    <input type="checkbox" name="tue" id="tue" value="1">
                    <label for="tue"> Tuesday </label>
                </div>
                <div class="checkbox checkbox-success checkbox-inline">
                    <input type="checkbox" name="wed" id="wed" value="2">
                    <label for="wed"> Wednesday </label>
                </div>

                <div class="checkbox checkbox-success checkbox-inline">
                    <input type="checkbox" name="thu" id="thu" value="3">
                    <label for="thu"> Thursday </label>
                </div>

                <div class="checkbox checkbox-success checkbox-inline">
                    <input type="checkbox" name="fri" id="fri" value="4">
                    <label for="fri"> Friday </label>
                </div>

                <div id="selectday-msg" class="checkbox-inline">
                    <span>* Please select at least a day !</span>
                </div>

            </div>

            @Html.Hidden("days", new { @id = "days", @name = "days" })
            @Html.HiddenFor(m => m.UserInfo.Name)
            @Html.HiddenFor(m => m.UserInfo.Latitude)
            @Html.HiddenFor(m=>m.UserInfo.Longitude)
        </span>  

     
        <span class="form-element col-md-3">           
            @Html.TextBoxFor(m => m.UserInfo.Name, new { placeholder = "Enter Name", @required = "required", @disabled="disabled"})
        </span>
        <span class="form-element col-md-3">
           @Html.DropDownListFor(m => m.UserInfo.Location, new SelectList(ViewBag.location, "Id", "Location"), "Select Location", new { @required = "required" }) 
        </span>
        <span class="form-element col-md-2">          
            @Html.TextBoxFor(m => m.UserInfo.SubLocation, new { placeholder = "Enter Sub-location", @required = "required" })
        </span>

        <span class="form-element col-md-1">
            <button class="btn btn-primary" id="loadMap" type="button" data-toggle="modal" data-target="#mapModel" ><i class="glyphicon glyphicon-map-marker"></i></button>
        </span>

        <span class="form-element col-md-3">
            <button class="btn btn-primary btn-save" onclick="return GetDate();" type="submit">Save</button>
        </span>
       }
   


</div>

<div class="clearfix"></div>

<hr id="registerHr">

}

<div class="col-md-12 route-info">
    Location Details
</div>

<div id="report" class="row-fluid">

         
        <div class="col-md-9">

            @if (Session["Id"] == null)
            {
                <div class="row-fluid">              
                     <div class="col-md-offset-3 pull-right search">
                    
                         <div class="form-inline">
                            <input type="text" id="searchName" />
                            <button id="ajaxgridSearch" >Search</button>
                            <button id="ajaxgridExport" onclick="location.href='@Url.Action("ExportToExcel", "Home")'">Export</button>
                        </div>
                    
                    </div>
                </div>
            }

            <table class="table table-bordered table-responsive table-striped" id="UserInfoList">
                <thead>
                    <tr>
                        <th><a class="table-header" field-name="Id">Id</a></th>
                        <th class="sorting"><a class="table-header" field-name="Name">Name</a></th>
                        <th class="sorting"><a class="table-header" field-name="Location">Location</a></th>
                        <th><a class="table-header" field-name="SubLocation">SubLocation</a></th>
                        <th><a class="table-header" field-name="Date">Date</a></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    <div class="col-md-3">
        <table class="table table-bordered table-responsive table-striped" id="UserInfoTotal">
            <thead>
                <tr>
                    <th><a class="table-header" field-name="Location">Location</a></th>
                    <th><a class="table-header" field-name="Total">Total</a></th>                   
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="clearfix"></div>

    <hr>

    <div class="col-md-12 route-info">
       Route Information
    </div>

    @{ int i = -1; var routearray = new string[] { "One", "Two", "Three", "Four"}; }
    @foreach (var route in Model.Routes)
    {
        i++;
        var routes = @route.RouteLocations.Replace(",", " -> ");
        <div class="col-md-3 route">
            <div>
                <span class="route-header">Route @routearray[i]
                    <a class="routeMap" id="routeMap1" type="button" data-toggle="modal" data-target="#mapModel"><i class="glyphicon glyphicon-map-marker"></i></a>          
                 </span>
                <span class="route-body"></span>
            </div>
        </div>
    }

</div>
<div class="modal fade" id="mapModel" role="dialog">
    
    <div class="modal-dialog">
       
        
        <input id="pac-input" class="controls" type="text" placeholder="Search location">  
        <div class="modal-content">

            <div class="modal-title">               
                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">X</button>
            </div>
            
            <div class="modal-body">    
                            
                    <div id="map-canvas"></div>  
                    <div id="map-canvas-showlocation"></div>             
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>*@
        </div>

    </div>
</div>

<input type="hidden" id="route_location"/>

<script>


    $(function () {

        LoadMap();
       
       
        $("#loadMap").on("click", function () {
            initialize();            
        })
        
        $(".routeMap").on("click", function () {
             LoadMap();

           // google.maps.event.addListenerOnce(map, 'idle', function () {
              //  google.maps.event.trigger(map, 'resize');
           // });

        })

        $('#UserInfoList').ajaxGrid({
            pageSize: 7,
            defaultSortExpression: 'Id',
            defaultSortOrder: 'DESC',
            tableHeading: '.table-header',
            url: '@Url.Action("FindAll","Home")',
            requestType: 'get',
            loadingImage: $('#loading-msg-subscribers-management'),
            NoRecordsFound: 'No Records Found',
            postContent: [
                {
                    control: $('<button type="button" class="btn btn-primary" ' +
                    'onclick=\'showEditForm(this,"Edit", "@Url.Action("Form","Home")",300,300)\'>' +
                    '<small class="glyphicon glyphicon-edit"></small></small>' +
                    '</button>')
                },
                {
                    control: $('<form action="@Url.Action("Delete","Home")" method="POST" style="display:inline-block">' +
                    '<input type="hidden" name="Id" id="Id"/>' +
                    '<input type="hidden" name="INumber" id="INumber"/>' +
                    '<button type="submit" class="btn btn-danger" ' +
                    'onclick=\'return confirm("Are you sure you want to Remove this List?")\'>' +
                    '<span class="glyphicon glyphicon-remove"></span></button></form>'),
                    properties: [
                        {
                            propertyField: 'input[type=hidden]#Id',
                            property: 'value',
                            propertyValue: 'Id'
                        },
                        {
                            propertyField: 'input[type=hidden]#INumber',
                            property: 'value',
                            propertyValue: 'INumber'
                        }
                    ]
                }
            ],
            afterAjaxCallComplete: function () {

                $("#UserInfoList").find("tr").each(function (k, v) {

                    var _date = parseInt($(this).find("td:eq(4)").text().replace(/\/Date\(/g, "").replace(/\)\//, ""));
                    if (!isNaN(_date)) {
                        var x = new Date(_date);
                        var finaldate = x.getMonth() + 1 + "/" + x.getDate() + "/" + x.getFullYear();
                        $(this).find("td:eq(4)").text(finaldate)
                    }
                })

                $("#UserInfoList .btn").prop("disabled", true);
                $("#UserInfoList #INumber").each(function (k, v) {
                    if($(this).val() == "@Session["Id"]"){
                        $(this).closest("tr").find(".btn").prop("disabled",false);
                    }
                });
            },
            id: 'Id'
        });

        var weekday = new Array(7);
        weekday[0] = "mon";
        weekday[1] = "tue";
        weekday[2] = "wed";
        weekday[3] = "thu";
        weekday[4] = "fri";


        $("input[type='checkbox']").each(function (k, v) {
            var today = new Date().getDay();
            if ($(this).val() < (today - 1)) {
                $(this).prop('disabled', true);
            }
        });

        if("@ViewBag.UsedDate" != "empty")
        {
            var dates = "@ViewBag.UsedDate".split(',');
            var date = new Date();
            var today = date.getDate();
            var day = date.getDay()-1;
            for(var i=0;i<dates.length;i++){               
                var selector = "#" + weekday[day + (dates[i]-today)];
                $(selector).prop('disabled',true);         
              }
        }

        if ($("input:checkbox:not(:disabled)").length<1) {
            $("#registerUser,#registerHr").hide();
        }

    });

    $("#ajaxgridSearch").on('click', function () {

        var name = $("#searchName").val();
        $('#UserInfoList').trigger('refreshGrid', { Name: name });
        $("#searchName").val("");
    });

    $('#UserInfoTotal').ajaxGrid({
        pageSize: 2,
        defaultSortExpression: 'Id',
        defaultSortOrder: 'DESC',
        tableHeading: '.table-header',
        url: '@Url.Action("FindAllTotal","Home")',
        requestType: 'get',
        loadingImage: $('#loading-msg-subscribers-management'),
        NoRecordsFound: 'No Records Found',
        afterAjaxCallComplete: function () {
        }

    });

    $("#UserInfo_Name").val("@Session["UserName"]");

    function GetDate() {    
        var day = "";
        $("input[type='checkbox']").each(function (k, v) {
            if ($(this).prop('checked')) {
                day += " " + $(this).val();
            }
        })
        $("#days").val(day);
        if (day == "") {
            $("#selectday-msg").css("display", "inline-block");
            return false;
        } else
            return true;
    }

    $("input[type='checkbox']").on('click', function () {
        $("#selectday-msg").css("display", "none");
    });


    

    function LoadMap() {
        $.ajax({
            url: '@Url.Action("GetLocation", "Home")',
            success: function (result) {

                //setTimeout(function () {
                    initializeRouteMap(result);
               // }, 100)
                

                
            }
        });
    }

</script>




