@model VShuttle.Model.ViewModel.RouteUserinfo
@{
    ViewBag.Title = "Home Page";
}


<div class="row-map">

    <div class="col-md-12 picklocationcontainer">

        <div class="col-md-12 map-location-info">
            <li id="office-info"><i class="glyphicon glyphicon-map-marker"></i> office</li>
            <li id="route1-info"><i class="glyphicon glyphicon-map-marker"></i> Bhaktapur - <span> </span></li>
            <li id="route2-info"><i class="glyphicon glyphicon-map-marker"></i> Kalanki - <span> </span></li>
            <li id="route3-info"><i class="glyphicon glyphicon-map-marker"></i> Chabahil - <span> </span></li>
            <li id="route4-info"><i class="glyphicon glyphicon-map-marker"></i> Misc - <span> </span></li>
        </div>
        @*<input id="pac-input" class="controls" type="text" placeholder="Search location">*@
        <div id="picklocation"></div>
    </div>
</div>

<div class="clearfix"></div>

@if (Session["Id"] != null)
{
    <div id="registerUser" class="row-fluid">

        <div class="col-md-12 route-info">
            Register Location
        </div>

     
        <form id="UserInfoForm">

            <input type="hidden" id="latnag" />

            <span class="form-element row">
                <div class="col-md-6 checkbox-row" required>

                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" name="mon" id="mon" value="0">
                        <label for="mon"> Monday </label>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" name="tue" id="tue" value="1">
                        <label for="tue"> Tuesday </label>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" name="wed" id="wed" value="2">
                        <label for="wed"> Wednesday </label>
                    </div>

                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" name="thu" id="thu" value="3">
                        <label for="thu"> Thursday </label>
                    </div>

                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" name="fri" id="fri" value="4">
                        <label for="fri"> Friday </label>
                    </div>

                </div>

                <span class="form-element col-md-3">
                    @Html.DropDownListFor(m => m.UserInfo.RouteId, new SelectList(ViewBag.route, "Id", "RouteLocations"), "Select Route", new { @required = "required" })
                </span>

                <span class="form-element col-md-2">
                    <button class="btn btn-primary btn-save" onclick="return GetDate();" type="button">Save</button>
                </span>

                @Html.Hidden("days", new { @id = "days", @name = "days" })
                @Html.HiddenFor(m => m.UserInfo.Name)
                @Html.HiddenFor(m => m.UserInfo.Latitude)
                @Html.HiddenFor(m => m.UserInfo.Longitude)
                @Html.HiddenFor(m => m.UserInfo.SubLocation, new { @required = "required" })
            </span>

            <div id="selectday-msg" class="checkbox-inline">
                <span>* Please select at least a day !</span>
            </div>
         
             </form>
       

    </div>
}

<div class="row-fluid" id="locationdetails">

    <div class="col-md-12 route-info" style="padding-bottom:20px;" >
        Location Details
    </div>

        <div class="col-md-12">

            @if (Session["Id"] == null)
            {
                <div class="row-fluid">
                    <div class="col-md-offset-3 pull-right search">

                        <div class="form-inline">
                            <input type="text" id="searchName" />
                            <button id="ajaxgridSearch">Search</button>
                            <button id="ajaxgridExport" onclick="location.href='@Url.Action("ExportToExcel", "Home")'">Export</button>
                        </div>

                    </div>
                </div>
            }

            <table class="table table-bordered table-responsive table-striped" id="UserInfoList">
                <thead>
                    <tr>
                        <th><a class="table-header" field-name="Id">Id</a></th>
                        <th class="sorting"><a class="table-header" field-name="Name">Name</a></th>
                        <th class="sorting"><a class="table-header" field-name="Route">Route</a></th>
                        <th><a class="table-header" field-name="SubLocation">SubLocation</a></th>
                        <th><a class="table-header" field-name="Date">Date</a></th>
                        @if (Session["Id"] != null)
                        {
                            <th>Actions</th>
                        }
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    <div class="clearfix"></div>

</div>

<div class="row-fluid" id="Routeinformation">

    <div class="col-md-12 route-info" style="color:white !important;">
       Route Information
    </div>

    <div class="col-md-12 selectRoute">
       @Html.DropDownListFor(m => m.UserInfo.RouteId, new SelectList(ViewBag.route, "Id", "RouteLocations"), "Select Route", new { @required = "required", @id="selectroutes" })
       <img class="routeMap" src="~/Content/Image/route.svg" height="46px;" style="float:right;" data-toggle="modal" data-target="#mapModel" />
    </div>

    <div class="col-md-12">
        <div class="row timeline-horizontal" style="padding:7px; ">

            <section class="timeline">

                <div class="routenotfound" style="display:none; color:white;"><img src="~/Content/Image/warning.svg" height="50px;" /> No Routes Registered !!!</div>
                
                <ol>
                   
                </ol>

                <div class="arrows">
                    <button class="arrow arrow__prev disabled" disabled>
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_prev.svg" alt="prev timeline arrow">
                    </button>
                    <button class="arrow arrow__next">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_next.svg" alt="next timeline arrow">
                    </button>
                </div>
            </section>
           
        </div>

    </div>

</div>

<div class="clearfix"></div>

<div class="modal fade" id="mapModel" role="dialog">
    
    <div class="modal-dialog">
       
        
        @*<input id="pac-input" class="controls" type="text" placeholder="Search location">*@
        <div class="modal-content">

            <div class="modal-title">               
                <button type="button" id="closemodal" class="btn btn-danger pull-right" data-dismiss="modal">X</button>
            </div>
            
            <div class="modal-body">                 
                    <div id="map-canvas">nice</div>  
                    <div id="map-canvas-showlocation"></div>             
            </div>          
        </div>

    </div>
</div>

<div class="row-fluid" style="background-color:#01073E; font-size:x-small; text-align:center; padding-top:10px; padding-bottom:10px; color:white !important;">
    <span style="">©2017 by Verscend Technologies, Inc. All rights reserved.</span>
</div>

    <input type="hidden" id="route_location" />

    <script>

        var AllLocation;
        $(function () {

            $('checkbox').velocity('stop').velocity({ rotateY: '180deg' });

            DisplayHomeMap();
            AllLocation = GetTodaysAllLocation();

            $(".routeMap").on("click", function () {
                var OnlyMap = true;
                // var id = $(this).closest("div").find("input").val();
                var id = parseInt($("#selectroutes").val());
                LoadMap(id, AllLocation, OnlyMap);
            })

            $("#selectroutes").val(1);
            LoadMap(1, AllLocation, false);

            $("#selectroutes").change(function () {
                debugger;
                var OnlyMap = false;
                var id = parseInt($(this).val());
                if (id > 0)
                    LoadMap(id, AllLocation, OnlyMap);
            });

            $('#UserInfoList').ajaxGrid({
                pageSize: 7,
                defaultSortExpression: 'Id',
                defaultSortOrder: 'DESC',
                tableHeading: '.table-header',
                url: '@Url.Action("FindAll","Home")',
                requestType: 'get',
                loadingImage: $('#loading-msg-subscribers-management'),
                NoRecordsFound: 'No Records Found',
                postContent: [
                    @*{
                    control: $('<button type="button" class="btn btn-primary" ' +
                    'onclick=\'showEditForm(this,"Edit", "@Url.Action("Form","Home")",300,250)\'>' +
                    '<small class="glyphicon glyphicon-edit"></small></small>' +
                    '</button>')
                },*@
                    {
                        control: $(
                        '<input type="hidden" name="Id" id="Id"/>' +
                        '<input type="hidden" name="INumber" id="INumber"/>' +
                        '<button type="submit" class="btn btn-danger" ' +
                        'onclick=\'deleteUserInfo(this);\'>' +
                        '<span class="glyphicon glyphicon-remove"></span></button>'),
                        properties: [
                            {
                                propertyField: 'input[type=hidden]#Id',
                                property: 'value',
                                propertyValue: 'Id'
                            },
                            {
                                propertyField: 'input[type=hidden]#INumber',
                                property: 'value',
                                propertyValue: 'INumber'
                            }
                        ]
                    }
                ],
                afterAjaxCallComplete: function () {

                    $("#UserInfoList").find("tr").each(function (k, v) {

                        var _date = parseInt($(this).find("td:eq(4)").text().replace(/\/Date\(/g, "").replace(/\)\//, ""));
                        if (!isNaN(_date)) {
                            var date = new Date(_date);
                            var finaldate = currentDate(date);
                            //var finaldate = x.getMonth() + 1 + "/" + x.getDate() + "/" + x.getFullYear();
                            $(this).find("td:eq(4)").text(finaldate)
                        }
                    })
                },
                id: 'Id'
            });


            var weekday = new Array(7);
            weekday[0] = "mon";
            weekday[1] = "tue";
            weekday[2] = "wed";
            weekday[3] = "thu";
            weekday[4] = "fri";


            $("input[type='checkbox']").each(function (k, v) {
                var today = new Date().getDay();
                if ($(this).val() < (today - 1)) {
                    $(this).prop('disabled', true);
                }
            });

            if ("@ViewBag.UsedDate" != "empty") {
                var dates = "@ViewBag.UsedDate".split(',');
                var date = new Date();
                var today = date.getDate();
                var day = date.getDay() - 1;
                for (var i = 0; i < dates.length; i++) {
                    var selector = "#" + weekday[day + (dates[i] - today)];
                    if (selector == "#undefined") {
                        selector = "#" + weekday[dates[i]];
                    }
                    $(selector).prop('disabled', true);
                }
            }
            if ($("input:checkbox:not(:disabled)").length < 1) {
                $("#registerUser,#registerHr").hide();
            }

        });

        function deleteUserInfo(obj) {
            var id = $(obj).closest("tr").find("td:eq(0)").text()
            $.ajax({
                url: '../Home/Delete',
                async: false,
                type: 'get',
                data: { id: id },
                contentType: "application/json; charset=utf-8",
                success: function (result) {

                    if (result != "0") {
                        // enable select day checkbox
                        var row;
                        $.each($("#UserInfoList").find("tr"), function (key, val) {
                            if ($(this).find("td:eq(0)").text() == result)
                                row = $(this).closest("tr");
                        });

                        var rowDate = row.find("td:eq(4)").html();
                        var rowlocation = row.find("td:eq(3)").html();
                        var rowrouteName = row.find("td:eq(2)").html();

                        var weeks = ["sun", "mon", "tue", "wed", "thu", "fri", "sat"];
                        var date = new Date(rowDate);
                        weekday = weeks[date.getDay()];
                        $("#" + weekday + "").prop('disabled', false);
                        $("#registerUser,#registerHr").show();

                        //refresh grid
                        $('#UserInfoList').trigger('refreshGrid');

                        // Update Map Marker
                        DisplayHomeMap();

                        //update RouteInfo
                        var routeArray = ["Route Bhaktapur", "Route Kalanki", "Route Chabahil", "Route Misc"];
                        var routeId = routeArray.indexOf(rowrouteName);
                        LoadMap(routeId + 1, AllLocation, false);

                    }
                }
            })
        }


        $("#ajaxgridSearch").on('click', function () {
            var name = $("#searchName").val();
            $('#UserInfoList').trigger('refreshGrid', { Name: name });
            $("#searchName").val("");
        });

        $("#UserInfo_Name").val("@Session["UserName"]");

        function SetLocationName() {
            var lat = $("#UserInfo_Latitude").val();
            var lng = $("#UserInfo_Longitude").val();
            var LatLng = new google.maps.LatLng(lat, lng);
            getLocnameFromPinnedAddress(LatLng);
            setTimeOut(function () { GetDate(); }, 3000);
        }

        function GetDate() {

            var location = $("#UserInfo_SubLocation").val();
            if (location == "") {
                $("#selectday-msg").text("* Please select a location in map");
                $("#selectday-msg").css("display", "block");
                return false;
            }

            if ($("#UserInfo_RouteId").val() == "") {
                $("#selectday-msg").text("* Please select a route");
                $("#selectday-msg").css("display", "block");
                return false;
            }

            var day = "";
            $("input[type='checkbox']").each(function (k, v) {
                if ($(this).prop('checked')) {
                    day += " " + $(this).val();
                }
            })
            $("#days").val(day);
            if (day == "") {
                $("#selectday-msg").text("* Please select a date");
                $("#selectday-msg").css("display", "inline-block");
                return false;
            }
            $("#selectday-msg").css("display", "none");
            SaveUserInfo();
        }

        $("input[type='checkbox']").on('click', function () {
            $("#selectday-msg").css("display", "none");
        });


        function SaveUserInfo(data) {
            $.ajax({
                url: '../Home/Index',
                type: 'POST',
                data: $("#UserInfoForm").serializeArray(),
                //contentType: "application/json; charset=utf-8",
                success: function (result) {
                    //update grid
                    debugger;
                    $('#UserInfoList').trigger('refreshGrid');

                    // disable checkbox days
                    var dates = result.Days.trim().split(" ");
                    dates.forEach(function (item) {
                        var weeks = ["mon", "tue", "wed", "thu", "fri"];
                        weekday = weeks[parseInt(item)];
                        $("#" + weekday + "").prop('checked', false).prop('disabled', true);
                    })

                    if ($("input:checkbox:not(:disabled)").length < 1) {
                        $("#registerUser,#registerHr").hide();
                    }

                    //Update Route Info
                    AllLocation = GetTodaysAllLocation();
                    $("#selectroutes").val(result.UserInfo.RouteId);
                    LoadMap(result.UserInfo.RouteId, AllLocation, false);

                    //Add Marker
                    DisplayHomeMap();

                }
            })
        }

        function currentDate(_date) {
            if (_date) {
                var date = new Date(_date);
            } else {
                var date = new Date();
            }
            return (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear();
        }

        function GetTodaysAllLocation() {
            var locations;
            $.ajax({
                url: '../Home/FindTodaysAllLocation',
                async: false,
                type: 'get',
                data: { routeId: 1 },
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    locations = result;
                }
            })
            return locations;
        }

        function LoadMap(id, AllLocation, OnlyMap) {
            $.ajax({
                data: "id=" + id,
                url: '@Url.Action("GetLocation", "Home")',
                success: function (result) {
                    initializeRouteMap(result, id, OnlyMap, AllLocation);

                }
            });
        }

        function DisplayHomeMap() {
            $.ajax({
                url: '@Url.Action("GetAllLocation", "Home")',
                success: function (result) {
                    initialize("picklocation", result);
                }
            });
        }

    </script>




