@model VShuttle.Model.ViewModel.RouteUserinfo
@{
    ViewBag.Title = "Home Page";
}


<div class="row row-map">

    <div class="col-md-12 picklocationcontainer">

        <div class="col-md-12 map-location-info">
            @*<li id="office-info"><i class="glyphicon glyphicon-map-marker"></i> office</li>*@
            <li id="route1-info"><i class="glyphicon glyphicon-map-marker"></i> Bhaktapur - <span> </span></li>
            <li id="route2-info"><i class="glyphicon glyphicon-map-marker"></i> Kalanki - <span> </span></li>
            <li id="route3-info"><i class="glyphicon glyphicon-map-marker"></i> Chabahil - <span> </span></li>
            <li id="route4-info"><i class="glyphicon glyphicon-map-marker"></i> Misc - <span> </span></li>
        </div>
        @*<input id="pac-input" class="controls" type="text" placeholder="Search location">*@
        <div id="picklocation"></div>
    </div>
</div>

<div class="clearfix"></div>

@if (Session["Id"] != null)
{
    <div id="registerUser" class="row-fluid">

        <div class="col-md-12 route-info">
            Register Location
        </div>

     
        <form id="UserInfoForm">

           

            <input type="hidden" id="latnag" />

            <span class="form-element row">
                <div class="col-md-6 checkbox-row" required>

                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" name="mon" id="mon" value="0">
                        <label for="mon"> Monday </label>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" name="tue" id="tue" value="1">
                        <label for="tue"> Tuesday </label>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" name="wed" id="wed" value="2">
                        <label for="wed"> Wednesday </label>
                    </div>

                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" name="thu" id="thu" value="3">
                        <label for="thu"> Thursday </label>
                    </div>

                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" name="fri" id="fri" value="4">
                        <label for="fri"> Friday </label>
                    </div>

                </div>

                <span class="form-element col-md-3">
                    @Html.DropDownListFor(m => m.UserInfo.RouteId, new SelectList(ViewBag.route, "Id", "RouteLocations"), "Select Route", new { @required = "required" })
                </span>

                <span class="form-element col-md-3">
                    <button class="btn btn-primary btn-save" onclick="return GetDate();" type="button">Save</button>
                </span>

                @Html.Hidden("days", new { @id = "days", @name = "days" })
                @Html.HiddenFor(m => m.UserInfo.Name)
                @Html.HiddenFor(m => m.UserInfo.Latitude)
                @Html.HiddenFor(m => m.UserInfo.Longitude)
                @Html.HiddenFor(m => m.UserInfo.SubLocation, new { @required = "required" })
            </span>

            <div id="selectday-msg" class="checkbox-inline">
                <span>* Please select at least a day !</span>
            </div>
         
             </form>
       

    </div>
}

<hr id="registerHr">

<div class="row-fluid">

<div class="col-md-12 route-info">
    Location Details
</div>

    <div id="report" class="row-fluid">


        <div class="col-md-12">

            @if (Session["Id"] == null)
            {
                <div class="row-fluid">
                    <div class="col-md-offset-3 pull-right search">

                        <div class="form-inline">
                            <input type="text" id="searchName" />
                            <button id="ajaxgridSearch">Search</button>
                            <button id="ajaxgridExport" onclick="location.href='@Url.Action("ExportToExcel", "Home")'">Export</button>
                        </div>

                    </div>
                </div>
            }

            <table class="table table-bordered table-responsive table-striped" id="UserInfoList">
                <thead>
                    <tr>
                        <th><a class="table-header" field-name="Id">Id</a></th>
                        <th class="sorting"><a class="table-header" field-name="Name">Name</a></th>
                        <th class="sorting"><a class="table-header" field-name="Route">Route</a></th>
                        <th><a class="table-header" field-name="SubLocation">SubLocation</a></th>
                        <th><a class="table-header" field-name="Date">Date</a></th>
                        @if (Session["Id"] != null)
                        {
                         <th>Actions</th>
                        }
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        @*<div class="col-md-3">
            <table class="table table-bordered table-responsive table-striped" id="UserInfoTotal">
                <thead>
                    <tr>
                        <th><a class="table-header" field-name="Route">Route</a></th>
                        <th><a class="table-header" field-name="Total">Total</a></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>*@

    </div>

    <div class="clearfix"></div>

    <hr>

    <div class="col-md-12 route-info">
       Route Information
    </div>

    @{ int i = -1; var routearray = new string[] { "One", "Two", "Three", "Four"}; }
    @foreach (var route in Model.Routes)
    {
        i++;
        var routeId = @route.Id;
        var routebodyId = "route-body-" + routeId;
        <div class="col-md-3 route">
            <div>
                <span class="route-header">@route.RouteLocations
                    <a class="routeMap" id="routeMap1" type="button" data-toggle="modal" data-target="#mapModel"><i class="glyphicon glyphicon-map-marker"></i>View-Route</a>          
                 </span>
                <input type="hidden" id="hiddenrouteid" value="@routeId" />
                <span id=@routebodyId >Generating Route <img src="~/Content/Image/d.gif"></span>
            </div>
        </div>
    }

</div>
<div class="modal fade" id="mapModel" role="dialog">
    
    <div class="modal-dialog">
       
        
        @*<input id="pac-input" class="controls" type="text" placeholder="Search location">*@
        <div class="modal-content">

            <div class="modal-title">               
                <button type="button" id="closemodal" class="btn btn-danger pull-right" data-dismiss="modal">X</button>
            </div>
            
            <div class="modal-body">                 
                    <div id="map-canvas"></div>  
                    <div id="map-canvas-showlocation"></div>             
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>*@
        </div>

    </div>
</div>

<input type="hidden" id="route_location"/>

<script>


    $(function () {
         DisplayHomeMap();
         var AllLocation = GetTodaysAllLocation();
         setTimeout(function () { LoadMap(1, AllLocation); }, 3000);
         setTimeout(function () { LoadMap(2, AllLocation); }, 4000);
         setTimeout(function () { LoadMap(3, AllLocation); }, 5000);
         setTimeout(function () { LoadMap(4, AllLocation); }, 6000);
       
        $(".routeMap").on("click", function () {        
            var OnlyMap = true;
            var id = $(this).closest("div").find("input").val();
            LoadMap(id,AllLocation,OnlyMap);
        })

        $('#UserInfoList').ajaxGrid({
            pageSize: 7,
            defaultSortExpression: 'Id',
            defaultSortOrder: 'DESC',
            tableHeading: '.table-header',
            url: '@Url.Action("FindAll","Home")',
            requestType: 'get',
            loadingImage: $('#loading-msg-subscribers-management'),
            NoRecordsFound: 'No Records Found',
            postContent: [
                @*{
                    control: $('<button type="button" class="btn btn-primary" ' +
                    'onclick=\'showEditForm(this,"Edit", "@Url.Action("Form","Home")",300,250)\'>' +
                    '<small class="glyphicon glyphicon-edit"></small></small>' +
                    '</button>')
                },*@
                {
                    control: $(
                    '<input type="hidden" name="Id" id="Id"/>' +
                    '<input type="hidden" name="INumber" id="INumber"/>' +
                    '<button type="submit" class="btn btn-danger" ' +
                    'onclick=\'deleteUserInfo(this);\'>' +
                    '<span class="glyphicon glyphicon-remove"></span></button>'),
                    properties: [
                        {
                            propertyField: 'input[type=hidden]#Id',
                            property: 'value',
                            propertyValue: 'Id'
                        },
                        {
                            propertyField: 'input[type=hidden]#INumber',
                            property: 'value',
                            propertyValue: 'INumber'
                        }
                    ]
                }
            ],
            afterAjaxCallComplete: function () {

                $("#UserInfoList").find("tr").each(function (k, v) {

                    var _date = parseInt($(this).find("td:eq(4)").text().replace(/\/Date\(/g, "").replace(/\)\//, ""));
                    if (!isNaN(_date)) {
                        var date = new Date(_date);
                        var finaldate = currentDate(date);
                        //var finaldate = x.getMonth() + 1 + "/" + x.getDate() + "/" + x.getFullYear();
                        $(this).find("td:eq(4)").text(finaldate)
                    }
                })  
            },
            id: 'Id'
        });


        var weekday = new Array(7);
        weekday[0] = "mon";
        weekday[1] = "tue";
        weekday[2] = "wed";
        weekday[3] = "thu";
        weekday[4] = "fri";


        $("input[type='checkbox']").each(function (k, v) {
            var today = new Date().getDay();
            if ($(this).val() < (today - 1)) {
                $(this).prop('disabled', true);
            }
        });

        if("@ViewBag.UsedDate" != "empty")
        {
            var dates = "@ViewBag.UsedDate".split(',');
            var date = new Date();
            var today = date.getDate();
            var day = date.getDay()-1;
            for(var i=0;i<dates.length;i++){               
                var selector = "#" + weekday[day + (dates[i] - today)];
                if (selector == "#undefined") {
                    selector = "#" + weekday[dates[i]];
                }
                $(selector).prop('disabled',true);         
              }
        }
        if ($("input:checkbox:not(:disabled)").length<1) {
            $("#registerUser,#registerHr").hide();
        }

    });

    function deleteUserInfo(obj) {     
        var id = $(obj).closest("tr").find("td:eq(0)").text()
        $.ajax({
            url: '/Home/Delete',
            async: false,
            type: 'get',
            data: { id: id },
            contentType: "application/json; charset=utf-8",
            success: function (result) {
               
                if (result != "0") {  
                    debugger;
                    // enable select day checkbox
                    var row;
                    $.each( $("#UserInfoList").find("tr"), function (key, val) {
                        if ($(this).find("td:eq(0)").text() == result)
                            row = $(this).closest("tr");
                    });

                    var rowDate = row.find("td:eq(4)").html();
                    var rowlocation = row.find("td:eq(3)").html();
                    var rowrouteName = row.find("td:eq(2)").html();

                     var weeks = ["sun", "mon", "tue", "wed", "thu", "fri", "sat"];
                     var date = new Date(rowDate);
                     weekday = weeks[date.getDay()];
                     $("#" + weekday + "").prop('disabled', false);
                     $("#registerUser,#registerHr").show();

                     //refresh grid
                     $('#UserInfoList').trigger('refreshGrid');

                    // Update Map Marker
                     DisplayHomeMap();

                    //update RouteInfo
                     var routeArray = ["Route Bhaktapur", "Route Kalanki", "Route Chabahil", "Route Misc"];
                     var routeId = routeArray.indexOf(rowrouteName);
                     LoadMap(routeId+1,AllLocation, false);
              
                     //var currentdate = currentDate();
                     //if (currentdate == rowDate) {                        
                     //    var routeArray = ["Route Bhaktapur", "Route Kalanki", "Route Chabahil", "Route Misc"];                       
                     //    var routeId = routeArray.indexOf(rowrouteName);
                     //    var routeDivId = "#route-body-" + (routeId + 1);
                     //    var routeText_old = $(routeDivId).text();
                     //    var routeText_new = $(routeDivId).text(routeText_old.replace("-> " + rowlocation, ""));
                     //}

                }
            }
        })
    }

   

    $("#ajaxgridSearch").on('click', function () {
        var name = $("#searchName").val();
        $('#UserInfoList').trigger('refreshGrid', { Name: name });
        $("#searchName").val("");
    });

    $('#UserInfoTotal').ajaxGrid({
        pageSize: 2,
        defaultSortExpression: 'Id',
        defaultSortOrder: 'DESC',
        tableHeading: '.table-header',
        url: '@Url.Action("FindAllTotal","Home")',
        requestType: 'get',
        loadingImage: $('#loading-msg-subscribers-management'),
        NoRecordsFound: 'No Records Found',
        afterAjaxCallComplete: function () {
        }

    });

    $("#UserInfo_Name").val("@Session["UserName"]");

    function SetLocationName() {
        var lat = $("#UserInfo_Latitude").val();
        var lng = $("#UserInfo_Longitude").val();
        var LatLng = new google.maps.LatLng(lat, lng);
        getLocnameFromPinnedAddress(LatLng);
        setTimeOut(function () { GetDate(); }, 3000);
    }

    function GetDate() {
  
        var location = $("#UserInfo_SubLocation").val();
        if (location == "") {      
            $("#selectday-msg").text("* Please select a location in map");
            $("#selectday-msg").css("display", "block");
            return false;
        }

        if ($("#UserInfo_RouteId").val() == "") {
            $("#selectday-msg").text("* Please select a route");
            $("#selectday-msg").css("display", "block");
            return false;
        }

        var day = "";
        $("input[type='checkbox']").each(function (k, v) {
            if ($(this).prop('checked')) {
                day += " " + $(this).val();
            }
        })
        $("#days").val(day);
        if (day == "") {
            $("#selectday-msg").text("* Please select a date");
            $("#selectday-msg").css("display", "inline-block");
            return false;
        }
        SaveUserInfo($("#UserInfoForm").serializeArray());
    }

    $("input[type='checkbox']").on('click', function () {
        $("#selectday-msg").css("display", "none");
    });


    function SaveUserInfo(data) {
        $.ajax({
            url: '/Home/Index',
            type: 'post',
            data: data,
            //contentType: "application/json; charset=utf-8",
            success: function (result) {
                debugger;
                //update grid
                $('#UserInfoList').trigger('refreshGrid');

                // disable checkbox days
                var dates = result.Days.trim().split(" ");
                dates.forEach(function (item) {
                    var weeks = ["mon", "tue", "wed", "thu", "fri"];
                    weekday = weeks[parseInt(item)];
                    $("#" + weekday + "").prop('checked', false).prop('disabled', true);
                })
                
                if ($("input:checkbox:not(:disabled)").length < 1) {
                    $("#registerUser,#registerHr").hide();
                }

                //Update Route Info
                LoadMap(result.UserInfo.RouteId, AllLocation, false);

                //Add Marker
                DisplayHomeMap();
                //var colorList = ["green", "pink", "blue", "purple"];
               // map = "picklocation";
                //var color = colorList[result.UserInfo.RouteId - 1];
               // AddMarker(result.UserInfo.Latitude, result.UserInfo.Longitude, map, color)
            }
        })
    }

    function currentDate(_date) {
        if (_date) {
            var date = new Date(_date);
        } else {
            var date = new Date();
        }
        return (date.getMonth()+1) + "/" + date.getDate() + "/" + date.getFullYear();
    }

    function GetTodaysAllLocation() {
        var locations;
        $.ajax({
            url: '/Home/FindTodaysAllLocation',
            async: false,
            type: 'get',
            data: { routeId: 1 },
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                locations = result;
            }
        })
        return locations;
    }

    function LoadMap(id,AllLocation,OnlyMap) {
        $.ajax({
            data:"id="+id,
            url: '@Url.Action("GetLocation", "Home")',
            success: function (result) {
                initializeRouteMap(result, id, OnlyMap, AllLocation);
                
            }
        });
    }

    function DisplayHomeMap() {
        $.ajax({
            url: '@Url.Action("GetAllLocation", "Home")',
            success: function (result) {
                initialize("picklocation", result);
            }
        });
    }

</script>




